body {
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    background-color: #f6f2ea;
}

footer {
    margin-top: 3rem;
    text-align: center;
}

footer p {
    font-size: 1.15rem;
}

h1, h2 {
    font-family: "Emilys Candy", serif;
}

p {
    font-size: 1.25rem;
}

a {
    color: #7287ad;
}

.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

/* NAVIGATION BAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: "Emilys Candy", serif;
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.75rem;
    font-weight: bold;
    transition: color 0.2s ease;
}

.logo a:hover, .logo a:focus {
    color: #7287ad;
    transform: translateY(-1px);
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    font-family: "Emilys Candy", serif;
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.2s ease;
}

.hamburger {
    display: none;
    font-size: 1.75rem;
    background: none;
    border: none;
    cursor: pointer;
}

    /* NAVBAR ANIMATION */

        .nav-links a:hover {
            color: #7287ad;
        }

        .nav-links a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;

            width: 100%;
            height: 1.5px;
            background-color: #7287ad;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.25s ease;
        }

        .nav-links a:hover::after {
            transform: scaleX(1);
        }

        .nav-links a.active::after {
        transform: scaleX(1);
        }

        .nav-links a.active {
            color: #7287ad;
        }

        /* MORE NAVBAR SETTINGS*/

        .site-header {
            position: sticky;
            top: 0;
            z-index: 10;
            margin-bottom: 2rem;
            padding: 1rem 0;

            background-color: rgba(246, 242, 234, 0.65);

            backdrop-filter: blur(8px);

            transition:
                background-color 0.3s ease,
                box-shadow 0.3s ease,
                padding 0.3s ease;
        }

        .site-header.scrolled {
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
        }

/* ABOUT */

.about {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.7;
}

.about-photo img {
    width: 300px;
    height: auto;
    display: block;
}

.about-photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-bio {
    flex: 1;
}

/* PUBLICATIONS */

.publications {
    max-width: 700px;
    margin: 0 auto;
}

.publications h1 {
    text-align: center;
}

.pub-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pub-details li {
    line-height: 1.5rem;
}

blockquote {
    font-size: 1.25rem;
    border-left: 3px solid #c8d1df;
    padding-left: 1.5rem;
    margin-left: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    color: #444;
}

li {
    line-height: 0.5rem;
}

/* CONTACT */

.contact {
    max-width: 700px;
    margin: 0 auto;
}

.contact-heading {
    text-align: center;
    margin-bottom: 2.25rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.25rem;
}

label {
    font-family: "Garamond", serif;
    font-size: 1.25rem;
}

input, textarea {
    font-family: "Garamond", serif;
    font-size: 1.2rem;

    padding: 0.75rem;

    border: 1px solid #1a1a1a;
    border-radius: 4px;

    background-color: #fbf9f3;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus, textarea:focus {
    outline: none;

    border-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.contact-button {
    font-family: "Garamond", serif;
    font-size: 1.25rem;
    background: none;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.contact-button:hover, .contact-button:focus {
    background-color: #1a1a1a;
    color: #f6f2ea;
}

/* MEDIA QUERY */
@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .nav-links {
        /* positioning */
        position: absolute;
        top: 85%;
        right: 0;

        /* display */
        display: flex;
        flex-direction: column;
        background-color: rgba(246, 242, 234, 0.95);
        backdrop-filter: blur(10px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding: 1rem;
        gap: 2rem;

        /* transition */
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-links.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about-photo img {
        width: 100%;
        max-width: 300px;
    }

    .hamburger {
        display: block;
        color: #1a1a1a;
        background: none;
        border: none;
        -webkit-tap-highlight-color: transparent;
    }

    .hamburger:hover,
    .hamburger.active {
        color: #7287ad;
    }

    .hamburger: focus :{
        color: black;
        outline: none;

    .hamburger:focus-visible {
        outline: 2px solid #7287ad;
    }

}
